<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Определяем фрагмент, чтобы вставлять -->
<th:block th:fragment="menu">

    <!-- Для неавторизованного пользователя -->
    <th:block th:if="${#authentication == null}">
        <a th:href="@{/login}">Вход</a>
    </th:block>

    <!-- Для авторизованного пользователя -->
    <th:block th:if="${#authentication != null}">
        <span th:text="${#authentication.name}">Username</span>
        <a th:href="@{/logout}">Выход</a>
    </th:block>

</th:block>
</body>
</html>